@model SiteWebJO2.Models.JoTicketPack

@{
    ViewData["Title"] = "Change pack";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>


<div class="row">
    <div class="col-md-4 d-flex align-items-end">
        <a asp-action="Index">Back to List</a>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JoTicketPackId" />
            <div class="form-group">
                <label asp-for="JoTicketPackName" class="control-label fw-bold"></label>
                <input asp-for="JoTicketPackName" class="form-control" />
                <span asp-validation-for="JoTicketPackName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="NbAttendees" class="control-label fw-bold"></label>
                <input asp-for="NbAttendees" class="form-control" />
                <span asp-validation-for="NbAttendees" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ReductionRate" class="control-label fw-bold"></label>
                <input asp-for="ReductionRate" class="form-control" />
                <span asp-validation-for="ReductionRate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input fw-bold" id="check-input-pack" asp-for=" JoTicketPackStatus" /> @Html.DisplayNameFor(model => model.JoTicketPackStatus)
                </label>
            </div>
            <br />
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn bgBlue" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
