/* colors of site */
:root {
    --blue: #00A0FE;
    --red: #F61732;
    --yellow: #FDB10E;
    --green:#169A13;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

header .nav-link {
    padding: 0.2rem 0 0.2rem 0;
    width: 150px;
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

a {
    color: var(--blue);
}

body {
    margin-bottom: 0px;
}

.menu {
    border: none;
    background: none;
    color: rgba(0, 0, 0, .55);
}

.menu:hover {
    font-weight: bold;
}

.footer {
    position: static;
    bottom:0;
    width: 100%;
    line-height: 3rem;
}

.btn:hover {
    font-weight: bold;
    outline-width: 4px;  
}

.btn-outline-secondary.dropdown-toggle.show {
    color: #6c757d;
}
.btn-outline-secondary:hover {
    color: #6c757d;
}


.logoJO {
    max-width: 50%;
    object-fit: contain;
}

.logoParis {
    width : 30%;
    object-fit:scale-down;
}

.logoSport {
    margin: 0px 0px 0px 5px;
}

.mansalva-regular {
    font-family: "Mansalva", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fontBlue {
    color: var(--blue);
}

.bgBlue {
    background-color: var(--blue);
    color: white;
}

.bgYellow {
    background-color: var(--yellow);
    color: #545B62;
}

/*Specific css for site buttons*/

.letsgoBtn {
    color: var(--red);
    outline-color: var(--red);
    outline-style: solid;
    outline-width: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.letsgoBtn:hover {
    color: var(--red);
}

.dontgoBtn {
    color: var(--red);
    outline-color: var(--red);
    outline-style: solid;
    outline-width: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.dontgoBtn:hover {
    color: white;
    background-color: var(--red);
    outline-color: var(--red);
    outline-style: solid;
    outline-width: 2px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

/*Specific css for site modals */
.modal-header {
    border-bottom: none;
    background-color: var(--yellow);
    color: #545B62;
}
.modal-body {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
    
}

/*Specific css for table input view "JoSessions/Index"*/
#ticketsTable {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    margin-bottom: 0px;
}

#ticketsTable tr {
    outline: thin solid;
    outline-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.ticketsRow:hover {
    background-color: azure;
    cursor: pointer;
    color: var(--blue);
}
#ticketsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-color: var(--blue);
}

td:first-child,
th:first-child {
    border-radius: 10px 0 0 10px;
}

td:last-child,
th:last-child {
    border-radius: 0 10px 10px 0;
}

.btn-page {
padding-top: 0px;
}

/*Specific css for View "JoSessions/Details"*/
.cardOffers {
    outline: thin solid;
    outline-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
    margin-left: 10px;
    margin-right: 10px;
}

.cardOffers:hover {
    background-color: azure;
    cursor: pointer;
    color: var(--blue);
}

/*Specific css for Views "Manage/Account/... "*/
#profile {
    color: var(--blue);
}
#profile.active {
    background-color: var(--blue);
    color: white;
}

#email {
    color: var(--blue);
}

#email.active {
    background-color: var(--blue);
    color: white;
}

#change-password {
    color: var(--blue);
}

#change-password.active {
    background-color: var(--blue);
    color: white;
}

#personal-data {
    color: var(--blue);
}

#personal-data.active {
    background-color: var(--blue);
    color: white;
}

/*Specific css for Views "ShoppingCarts" and "Order Checkout" */

#shoppingCartTable, #checkoutTable {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
    margin-bottom: 0px;
}

#shoppingCartTable tr, #checkoutTable tr, .joCard {
    outline: thin solid;
    outline-color: var(--blue);
    border-radius: 10px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

.NbTicketButton{
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
}

/*Specific css for View "Order Checkout" */

.joCard {
    margin: 14px 10px;
    padding: 1rem 1rem;
    border-collapse: separate;
    margin-bottom: 1rem;
}