@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    var user = await UserManager.GetUserAsync(HttpContextAccessor.HttpContext.User);
}

<ul class="navbar-nav flex-column">
@if (SignInManager.IsSignedIn(User))
{
    // to know if user is logged in in javascript
    <input type="hidden" id="logged" value="true" />

    //display menu with authentified user
    <li class="nav-item">
            <a class="nav-link text-capitalize text-end menu" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage account" id="namelogged">@user.Name @user.Lastname</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-capitalize text-end menu" asp-area="" asp-controller="ShoppingCarts" asp-action="Index" title="Shopping cart">Shopping cart <i class="bi bi-cart"></i></a>
    </li>
    <li class="nav-item">
            <form  class="form-inline menu" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
             <button type="submit" class="nav-link text-end menu">Logout <i class="bi bi-box-arrow-right"></i></button>
        </form>   
    </li>
}
else
{
    // to know if user is logged in in javascript
        <input type="hidden" id="logged" value="false" />

   //display menu with UNauthentified user
    <li class="nav-item">
         <a class="nav-link text-end menu" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
         <a class="nav-link text-end menu" asp-area="Identity" asp-page="/Account/Login">Login <i class="bi bi-box-arrow-in-right"></i></a>
    </li>
}
</ul>