@{ ViewData["Title"] = "Legal Notice"; }
<h1>@ViewData["Title"]</h1>

<section class="part unnumberedpart">
  <ol class="sections">
      <br/>
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">Credit</h3>
        <li class="unit numberedunit">
          This document was created using a template from Docular (<a
            href="https://docular.net"
            >https://docular.net</a
          >).
        </li>
       @*  <li class="unit unnumberedunit">
          <em
            >You must retain the above credit. Use of this document without the
            credit is an infringement of copyright. However, you can purchase
            from us an equivalent document that does not include the credit.</em
          >
        </li> *@
      </ul>
    </li>
        <br />
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">No advice</h3>
        <li class="unit numberedunit">
          Our website contains general legal information.
        </li>
        <li class="unit numberedunit">
          The legal information is not advice and should not be treated as such.
        </li>
      </ul>
    </li>
        <br />
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">No warranties</h3>
        <li class="unit numberedunit">
          The legal information on our website is provided without any
          representations or warranties, express or implied.
        </li>
        <li class="unit numberedunit">
          Without limiting the scope of Section 3.1, we do not warrant or
          represent that the legal information on this website:
          <ol class="listitem">
            <li>will be constantly available, or available at all; or</li>
            <li>is true, accurate, complete, current or non-misleading.</li>
          </ol>
        </li>
      </ul>
    </li>
        <br />
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">No lawyer-client relationship</h3>
        <li class="unit numberedunit">
          No lawyer-client, solicitor-client or attorney-client relationship
          shall be created through the use of our website.
        </li>
      </ul>
    </li>
        <br />
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">Interactive features</h3>
        <li class="unit numberedunit">
          Our website includes interactive features that allow users to
          communicate with us.
        </li>
        <li class="unit numberedunit">
          You acknowledge that, because of the limited nature of communication
          through our website's interactive features, any assistance you may
          receive using any such features is likely to be incomplete and may
          even be misleading.
        </li>
        <li class="unit numberedunit">
          Any assistance you may receive using any our website's interactive
          features does not constitute specific advice and accordingly should
          not be relied upon without further independent confirmation.
        </li>
      </ul>
    </li>
        <br />
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">Professional legal assistance and advice</h3>
        <li class="unit numberedunit">
          You must not rely on the legal information on our website as an
          alternative to legal advice from your lawyer or other professional
          legal services provider.
        </li>
        <li class="unit numberedunit">
          If you have any specific questions about any legal matter, you should
          consult your lawyer or other professional legal services provider.
        </li>
        <li class="unit numberedunit">
          You should never delay seeking legal advice, disregard legal advice,
          or commence or discontinue any legal action because of information on
          our website.
        </li>
      </ul>
    </li>
        <br />
    <li class="list-group list-group-numbered">
      <ul class="units">
        <h3 class="sectionTitle">Limits upon exclusions of liability</h3>
        <li class="unit numberedunit">
          Nothing in this disclaimer will:
          <ol class="listitem">
            <li>
              limit or exclude any liability for death or personal injury
              resulting from negligence;
            </li>
            <li>
              limit or exclude any liability for fraud or fraudulent
              misrepresentation;
            </li>
            <li>
              limit any liabilities in any way that is not permitted under
              applicable law; or
            </li>
            <li>
              exclude any liabilities that may not be excluded under applicable
              law.
            </li>
          </ol>
        </li>
      </ul>
    </li>
  </ol>
</section>
