@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery

@{
    ViewData["Title"] = "Check access";
    var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<input id="RequestVerificationToken" type="hidden" value="@requestToken" />

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>

<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

<div class="container">
    <div class="row" id="cameraRow">
        <div>
            <h3>Scan QR code on ticket please...</h3>
            <video id="preview"></video>
        </div>
    </div>
    <div class="row" hidden id="resultRow">
        <div class="col">
            <h5 class="text-center check-title">Sport session</h5>
            <div class="card cardOffers mb-4 m-0" style="padding: 7px;">
                <p class="m-0">
                    <b id="sessionName" style="padding: 7px;"></b><br />
                    <span id="sessionPlace" style="padding: 7px;"></span><br />
                    <span id="sessionDate" style="padding: 7px;"></span>
                </p>
            </div>
            <h5 class="text-center check-title">Name on ticket</h5>
            <div class="card cardOffers mb-2 m-0">
                <p id="userName" style="padding: 7px;" class="m-0"></p>
            </div>
        </div>
        <div class="col">
            <h5 class="text-center check-title">Pack name</h5>
            <div class="card cardOffers mb-4 m-0">
                <p id="packName" style="padding: 7px;" class="m-0"></p>
            </div>
            <h1 class="text-center check-auth"><i class="bi bi-shield-fill-check"></i></h1>
            <h3 class="text-center check-auth mb-4">Authenticated</h3>
            <p class="text-center">
                <a class="btn btn-lg mb-3 mt-3 letsgoBtn" asp-area="" asp-controller="Admin" asp-action="CheckAccess">Check another ticket</a>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript">
    let scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content) {
        PostToController("/Admin/CheckQrCode", content)
            .then((ticket) => displayTicketData(ticket))
    });
    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
        }
        else {
            console.error('No cameras found.');
        }
    }).catch(function (e) {
        console.error(e);
    });


    //
    function displayTicketData(ticket) {
        console.log(ticket);
        if (ticket != null) {
            document.getElementById("cameraRow").hidden = true;
            document.getElementById("resultRow").hidden = false;

            document.getElementById("sessionName").textContent = ticket.sessionName;
            document.getElementById("sessionPlace").textContent = ticket.sessionPlace;
            document.getElementById("sessionDate").textContent = FormatDate(ticket.sessionDate);
            document.getElementById("userName").textContent = ticket.firstname + " " + ticket.lastname;
            document.getElementById("packName").textContent = ticket.packName + ": " + ticket.packNb + " attendee(s)";
        }
        else { 
            // display msg

        }
    }
</script>