@model SiteWebJO2.Models.ShoppingCartTicket

@{
    ViewData["Title"] = "Your shopping cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>

<div id="shoppingCartTablePosition">
    <table class="table" id="shoppingCartTable">
        <thead class="text-center text-light bgBlue">
            <tr>
                <th scope="col" class="col-2"></th>
                <th scope="col" class="col-4" style="color: white">
                    Sport Session
                </th>
                <th scope="col" class="col-2" style="color: white">
                    Quantity
                </th>
                <th scope="col" class="col-2" style="color: white">
                    Price each
                </th>
                <th scope="col" class="col-2" style="color: white">
                    Total price
                </th>
            </tr>
        </thead>
        <tbody id="shoppingCartTableBody">
            @* display the tickets selected by user, written by javascript *@
        </tbody>
    </table>
</div>
<div class="row d-inline-flex container">
    <div scope="col" class="col-6 text-start">
        <a asp-area="" asp-controller="JoSessions" asp-action="Index">Back to List</a>
    </div>
    <div scope="col" class="col-6 text-end d-inline">
        <h5 id="subtotal">
            @* display the shopping cart subtotal, written by javascript *@
        </h5>
        <a id="ContinueToPayment" class="btn btn-lg mb-3 mt-3 letsgoBtn" asp-area="" asp-controller="ShoppingCarts" asp-action="Checkout">Continue to payment</a>
    </div>
</div>


<script>
    window.onload = function() {
        displayShoppingCart()
    };
</script>
    

