

@{
    ViewData["Title"] = "Your shopping cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>

