@model SiteWebJO2.Models.ShoppingCartTicket

@{
    ViewData["Title"] = "Your shopping cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>

<div id="shoppingCartTablePosition">
    <table class="table" id="shoppingCartTable">
        <thead class="text-center text-light bgBlue">
            <tr>
                <th scope="col" class="col-2"></th>
                <th scope="col" class="col-4" style="color: white">
                    Sport Session
                </th>
                <th scope="col" class="col-2" style="color: white">
                    Quantity
                </th>
                <th scope="col" class="col-2" style="color: white">
                    Price each
                </th>
                <th scope="col" class="col-2" style="color: white">
                    Total price
                </th>
            </tr>
        </thead>
        <tbody id="shoppingCartTableBody">
        </tbody>
    </table>
</div>
<div class="p-3">
    <a asp-area="" asp-controller="JoSessions" asp-action="Index">Back to List</a>
</div>

<script>
    window.onload = function() {
        displayShoppingCart()
    };
</script>
    

