@model Order
@{
    ViewData["Title"] = "Order treatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>

@if(@Model!=null){
    <h1>Payment success</h1>
    <h1>@Model.ApplicationUserId</h1>
}
else
{
    <h1>Payment abort</h1>
}
