@model Order
@{
    ViewData["Title"] = "Order treatment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-inline-flex mb-3 container justify-content-center">
    <h1 class="fontBlue mansalva-regular me-3">@ViewData["Title"]</h1>
</div>

@if(@Model!=null){
    <div class="d-inline-flex mb-3 container justify-content-center">
        <h1>Payment success</h1>
    </div>
    <h1>@Model.ApplicationUserId</h1>
}
else
{
    <div class="d-inline-flex mb-3 container justify-content-center">
        <h1>Payment abort</h1>
    </div>
    <div scope="col" class="col-6 text-start">
        <a asp-area="" asp-controller="ShoppingCarts" asp-action="Index">Back to shopping cart</a>
    </div>
}
